<!--
    <h1>Un título</h1> - para tu título más importante
    <h2>Un subtítulo</h2> - para el título del siguiente nivel
    <h3>Un subsubtítulo</h3> - ... y así hasta <h6>
    <em>texto</em> - pone en cursiva tu texto
    <strong>texto</strong> - pone en negrita tu texto
    <br /> - un salto de línea (no puedes colocar nada dentro de br)
    <a href="https://djangogirls.org">link</a> - crea un vínculo
    <ul><li>primer elemento</li><li>segundo elemento</li></ul> - crea una lista, ¡igual que esta!
    <div></div> - define una sección de la página
-->

<html>
    <head>
    	<!-- prsentacion de la pagina web -->
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>
        {% for i in posts %}
        <div>
            <!-- metodo para acceder a la fecha de mi blog  -->
            <p>published: {{ i.published_date }}</p>
            <!-- metodo para acceder al titulo de mi blog -->
            <h2><a href="">{{ i.title }}</a></h2>
            <!-- metodo para acceder al texto de mi blog-->
            <p> {{ i.text|linebreaksbr }} </p>
        </div>
        {% endfor %}

        <div>
            <p>01.03.2017, 02:14</p>
            <h2><a href="">My second post</a></h2>
            <!-- uso de ciclos en html python -->
            {% for i in posts %}
            {{ i }}
            {% endfor %}
        </div>
    </body>
</html>